*, *:after, *:before {
    box-sizing: border-box;
}


html, body {
    height: 100%;
    width: 100%;
    font-family: Helvetica, Arial;
}
body > section {
    height: 100%;
    width: 100%;
}

#gain {
		position: fixed;
		right: 30px;
		top: 64px;
    height: 100%;
}

#chart {
    margin: 6px 0 0 6px;
    width: calc( 100% - 60px);
    height: 100%;
    background: white;
    opacity: 0.9;
    border-radius: 5px;
    border: 1px solid #2b2b2b;
}

#chart line {
    stroke: #2b2b2b;
}

#chart line.vertical-marker.now {
    stroke: #c00;
}

rect.interval {
    cursor: pointer;
    border-radius: 4px;
    fill: black;
    stroke: black;
}

rect.interval:hover {
    fill: #2196f3;
    stroke: #0d47a1;
}

rect.interval.play {
    fill: #4caf50;
    stroke: #1b5e20;
    width: 0;
}

rect.labels {
  fill: #2196f3;
}

circle.blue-dot {
    fill: blue;
}

/* Override d3tip */

.d3-tip {
    background: white;
    color: black;
}

/* Tiny Flex Grid */


[flex] {
    display: flex;
}
[flex-fill] {
    flex: 1;
}
[flex-full-center] {
    align-items: center;
    justify-content: center;
}
[flex-direction=column] {
    flex-direction: column;
}
[flex-direction=row] {
    flex-direction: row;
}
[flex-size="40"] {
    flex: 40;
}
[flex-size="60"] {
    flex: 60;
}
